@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400|PT+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    background-color:#2b2b2b;
    color: white;
    height: 50px;

    animation-name: navegacao;
    animation-duration: 5s;
}

.navigation ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;
}

.navigation li.threeline-icon {
    display: none;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #f26609;
    text-decoration: none;
}

.capa {
    color: white;
}

.capa span {
    color: #f27609;
    display: block;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-pic {
    width: 40%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 5s;
}

.profile-pic img {
    width: 350px;
    border-radius: 50%;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 59%;

    animation-name: titulo-capa;
    animation-duration: 5s;
}

.profile-title h1 {
    margin-top: 200px;
    font-size: 58px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 58px;
}

.profile-title h2 {
    font-size: 16px;
    font-weight: 100;
    margin-top: -26px;

}   
    /* CURRÍCULO */
 .main {
     padding: 80px 180px 80px 100px;
    /* padding-top: 80px;
    padding-right: 180px;
    padding-bottom: 80px;
    padding-left: 100px; */

    animation-name: conteudo;
    animation-duration: 2s;
 }

 .main img {
     float: left;
     width: 200px;
     margin-right: 30px;
 }

.main .cv-pic {
    color: white;
    font-weight: normal;
}

.main h1 {
    color: white;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
}

.main h2 {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

.main h3 {
    color: #f26209;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

.main p {
    font-size: 18px;
    font-weight: 100;
    color: white;
    line-height: 24px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0;
    color: gray;
}

.caminho li {
    display: inline-block;
}

.caminho a {
    color: grey;
}

/* CONTATO */
.main .social-img {
    width: 50px;
    
}

/* PORTIFOLIO */
.miniatura {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.miniatura a {
    text-decoration: none;
}

.blackbox {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
    transition: 1.5s;
}

.blackbox:hover {
     opacity: 0.8;
     transition: 1.5s;
}

.blackbox-text {
    text-align: center;
}

.blackbox-text h1 {
    font-size: 18px;
    color: #f26609;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 400;
}
.blackbox-text h2 {
    font-size: 14px;
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
}

.main .foto-trabalhos {
    width: 100%;
    margin-bottom: 20px;
}

.back-link {
    color: #f27609;
}

/* ANIMAÇÕES */
@keyframes profile-capa {
    0% {opacity: 0;transform: translate(0,20px)}
    100% {opacity: 1;transform: translate(0,0)}
}

@keyframes titulo-capa {
    0% {opacity: 0;transform: translate(0,-20px)}
    100% {opacity: 1;transform: translate(0,0)}
}

@keyframes navegacao {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1 }
}

@keyframes conteudo {
    0% {opacity: 0;transform: translate(-20px,0)}
    100% {opacity: 1;transform: translate(0,0)}
}

